@{
    ViewData["Title"] = "Ошибка";
}

<div class = "text-center">
    <h3>Данный элемент не найден в системе!</h3>
    <a class="btn btn-outline-dark btn-lg mt-2" asp-controller="Home" asp-action="Index">Главная</a>
</div>