@model string
@{
    ViewData["Title"] = "Подтверждение";
}

<div class = "text-center">
    <h3>Вы действительно хотите удалить '@Model' из таблицы МО на сайте?</h3>
    <form method="post">
        <a class="btn btn-outline-dark btn-lg mt-2" asp-controller="Home" asp-action="Staff"><i class="bi bi-arrow-return-left"></i> Отмена</a>
        <button type="submit" class = "btn btn-outline-danger btn-lg mt-2"><i class="bi bi-trash"></i> Удалить</button>
    </form>
</div>