@{
    ViewData["Title"] = "Доп. образование";
}

<hr />
<h2 class="text-center">Подготовительные курсы и школы выходного дня</h2>
<hr />
<p>
    Школа «Елена – Сервис» представляет систему дополнительного образования через систему кружков, студий следующих направлений:
    <ul>
        <li>Хореография</li>
        <li>Спортивный (футбол, плавание, каратэ)</li>
        <li>Компьютерный</li>
        <li>Литературный</li>
        <li>Театральный</li>
        <li>ИЗО</li>
        <li>Музыка (школа по классу фортепиано, синтезатор, вокал, гитара)</li>
        <li>Бальные танцы</li>
        <li>Брейк-данс</li>
        <li>Большой теннис</li>
        <li>Шахматы</li>
    </ul>
</p>
<p>
    Развитию и реализации творческих способностей учеников школы «Елена-Сервис»
    способствует участие ребят в соревнованиях, конкурсах, олимпиадах, выставках, фестивалях
    и викторинах, как внутри школьных, так и внешних: городских республиканских,
    российских.
</p>
<p>
    Школа регулярно организует посещения театров, художественных и музыкальных
    мероприятий, а также экскурсии в музеи, на выставки и по историческим местам.
    Во время каникул учащимся предлагается обширная программа путешествий.
    В сопровождении преподавателей школы они могут посетить города и исторические
    места как России, так и Западной Европы, Африки, Азии.
</p>

<img src="/img/additional1.jpg" hspace="5" vspace="5">
<img src="/img/additional2.jpg" hspace="5" vspace="5">
<img src="/img/additional3.jpg" hspace="5" vspace="5">