@{
    ViewData["Title"] = "Доп. образование";
}
<script src="~/js/fullscreen-id.js"></script>

<hr />
<h2 class="text-center">Дополнительное образование</h2>
<hr />

<p class = "p-no-space">
    Школа «Елена – Сервис» представляет систему дополнительного образования через <b>кружки следующих направлений</b>:
    <ul class = "ul-no-space">
        <li>Хореографический</li>
        <li>Спортивный (футбол, плавание, каратэ)</li>
        <li>Компьютерный</li>
        <li>Литературный</li>
        <li>Театральный</li>
        <li>Изобразительный</li>
        <li>Музыкальный (школа по классу фортепиано, синтезатор, вокал, гитара)</li>
        <li>Бальные танцы</li>
        <li>Брейк-данс</li>
        <li>Большой теннис</li>
        <li>Шахматыный</li>
    </ul>
</p>
<p>
    Развитию и реализации творческих способностей учеников школы «Елена-Сервис»
    способствует участие ребят в соревнованиях, конкурсах, олимпиадах, выставках, фестивалях
    и викторинах, как внутришкольных, так и внешних: городских, республиканских, российских.
</p>
<p>
    Школа регулярно организует посещения театров, художественных и музыкальных
    мероприятий, а также экскурсии в музеи, на выставки и по историческим местам.
    Во время каникул учащимся предлагается обширная программа путешествий.
    В сопровождении преподавателей школы они могут посетить города и исторические
    места как России, так и Западной Европы, Африки, Азии.
</p>

<img id = "image-0" src="/img/additional1.jpg" class="img-fluid rounded" hspace="5" vspace="5" onClick="makeFullScreen(0)">
<img id = "image-1" src="/img/additional2.jpg" class="img-fluid rounded" hspace="5" vspace="5" onClick="makeFullScreen(1)">
<img id = "image-2" src="/img/additional3.jpg" class="img-fluid rounded" hspace="5" vspace="5" onClick="makeFullScreen(2)">