@{
    ViewData["Title"] = "Выпускники";
}

<hr />
<h2 class="text-center">Выпускники</h2>
<hr />

<p>
    Наши  выпускники  могут  поступать  в  любой  институт  или  университет  России.
    Те,  кто  хочет  продолжить  свое  образование  за  рубежом,  могут  поступить  в  университеты
    Западной  Европы  и  Америки.
</p>
<p>
    Высокие  баллы (90 – 100 баллов),  набранные  на  едином  государственном
    экзамене,   позволяют выпускникам  школы  «Елена-Сервис»  получить  приглашение  на  зачисление  в число
    студентов  одновременно  из  2 – 3 – 4 х  вузов.  Это  дает  дополнительную  возможность  выбора.
</p>
<p>Все  выпускники  школы  на  сегодняшний  день  стали  студентами  высших  учебных  заведений.</p>