@{
    ViewData["Title"] = "Старшая школа";
}

<script src="~/js/fullscreen.js"></script>

<hr />
<h2 class="text-center">Старшая школа (10 - 11 класс)</h2>
<hr />

<td>
    <p>
        <img id = "image" src="/img/high.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="10" vspace="10" align="right" onClick="makeFullScreen()">
        Вся программа старшей школы рассчитана на подготовку к экзаменам и получению
        аттестата об образовании с наивысшими баллами, а также на подготовку к
        поступлению в высшие учебные заведения, как российские, так и зарубежные.
    </p>
    <p>
        В старшей школе работает преподавательский состав, владеющий методикой преподавания
        учебных дисциплин с учетом подготовки к итоговой аттестации в
        современных условиях и имеющий положительный опыт подготовки выпускников
        к единому государственному экзамену (ЕГЭ).
    </p>
    <p>
        Как в средних, так и в старших классах, отводятся дополнительные часы (уроки)
        на изучение таких предметов, которые обычно вызывают затруднения учащихся:
        алгебра, геометрия, физика, химия, литература. Английский язык с 1 по 11 классы изучается по углубленной программе.
    </p>
    <p>
        Система консультаций и индивидуальных занятий с учениками, заложенная ещё
        в средних классах, сохраняется и в старшем звене.
        Во второй половине дня идет работа по ликвидации пробелов в знаниях,
        подготовке к олимпиадам и ЕГЭ.
    </p>
    <p>
        Много внимания на этом этапе уделяется и усвоению информационных технологий.
        Школа «Елена – Сервис» поощряет широкое изучение и использование возможностей компьютерных
        технологий и Интернета учащимися при подготовке к любым занятиям, зачетам, докладам, рефератам, презентациям,
        тестам и т.д. А наличие компьютеризированных кабинетов с доступом в Интернет позволяет это делать, не покидая здания школы.
    </p>
</td>