@{
    ViewData["Title"] = "Начальная школа";
}

<hr />
<h2 class="text-center">Начальная школа (1 - 4 класс)</h2>
<hr />

<partial ></partial>

<p>
    <img id = "image" src="/img/junior.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="10" vspace="10" align="right" onClick="makeFullScreen()">
    Начальная школа предусматривает обучение и воспитание детей,
    достигших 6,5 – 7 летнего возраста. Занятия детей младших классов
    проходят в уютных классных комнатах.
</p>
<p class="p-no-space">
    <b>Режим дня младшего школьника состоит из следующих основных событий:</b>
    <ul class="ul-no-space">
        <li><b>В 8.00</b> <i>Начало занятий</i></li>
        <li><b>После 1-го урока</b> <i>Завтрак</i></li>
        <li><b>После 5-го урока</b> <i>Обед</i></li>
        <li><b>После 6-го урока</b> <i>Прогулка на свежем воздухе</i></li>
        <li><b>После отдыха</b> <i>Выполнение домашнего задания под руководством учителя</i></li>
        <li><b>В 15.30</b> <i>Полдник</i></li>
        <li>
            <b>После полдника</b> <i>Блок дополнительных занятий:</i>
            <ul>
                <li><i>Бассейн</i></li>
                <li><i>Хореография</i></li>
                <li><i>Каратэ</i></li>
                <li><i>Эстрадные танцы</i></li>
                <li><i>ИЗО</i></li>
                <li><i>Музыка</i></li>
            </ul>
        </li>
    </ul>
</p>
<p><b>До 19.00 ребенок может находиться в школе.</b></p>
<p>
    Учебные программы, используемые в начальной школе,
    базируются на требованиях государственного образовательного стандарта.
</p>
<p>
    С первого класса, помимо основных предметов, изучается английский
    язык по углубленной программе, а также отводятся дополнительные часы
    на изучение математики, чтения, риторики, русского языка, a с 3-го класса
    вводится информатика.
</p>
<p>
    Помимо этого, в программу входят уроки музыки, изобразительного
    искусства и физической культуры.
</p>
<p>
    В рамках школы предусмотрено получение музыкального образования для тех,
    кто желает серьезно заниматься музыкой, с дальнейшим получением сертификата о
    музыкальном образовании.
</p>
<p>
    Преподавательский состав, обеспечивающий качество обучения, следующий:
    в начальной школе 2 основных учителя – учитель первой половины дня и учитель
    второй половины дня, а также учителя-предметники (английского языка, татарского
    языка, информатики, музыки, ИЗО, физкультуры и др.), тренеры и воспитатели.
</p>
<p>
    Основной учитель первой половины дня отвечает за качество обучения на уроках,
    учитель второй половины дня - за качество выполнения домашнего задания.
    Оба учителя работают в паре, соблюдая преемственность в своей работе.
</p>