@{
    ViewData["Title"] = "Средняя школа";
}

<script src="~/js/fullscreen.js"></script>

<hr />
<h2 class="text-center">Средняя школа (5 - 9 класс)</h2>
<hr />

<p>
    <img id = "image" src="/img/middle.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="10" vspace="10" align="right" onClick="makeFullScreen()">
    Средняя школа продолжает работу по формированию знаний, умений и навыков в области фундаментальных наук, начатую учителями в начальных классах.
</p>
<p class = "p-no-space">
    <b>На этом этапе изучают такие предметы, как:</b>
    <ul class = "ul-no-space">
        <li><i>Русский язык</i></li>
        <li><i>Литература</i></li>
        <li><i>Математика (Алгебра и Геометрия)</i></li>
        <li><i>Английский язык и Страноведение</i></li>
        <li><i>Французский язык</i></li>
        <li><i>Татарский язык</i></li>
        <li><i>История</i></li>
        <li><i>Обществознание</i></li>
        <li><i>География</i></li>
        <li><i>Биология</i></li>
        <li><i>Физика</i></li>
        <li><i>Химия</i></li>
        <li><i>Информатика</i></li>
        <li><i>Физическая культура</i></li>
        <li><i>ИЗО</i></li>
        <li><i>Черчение</i></li>
        <li><i>Музыка</i></li>
        <li><i>ОБЖ</i></li>
    </ul>
</p>
<p>
    Режим школьного дня такой же, как и в
    <a class="link" asp-controller="Education" asp-action="JuniorSchool">начальной школе</a>, с той разницей,
    что завтрак проходит после 2-го урока, а обед – после 6-го.
</p>
<p>
    В расписании второй половины дня присутствуют консультации учителей-предметников,
    рассчитанные на индивидуальное общение с учениками или на работу с малыми группами
    учащихся (2-4 человека). Эта система помогает повышению качества знаний у учеников
    и более успешному усвоению предмета, а также решает ряд вопросов, которые неизбежно
    возникают у школьников при выполнении домашнего задания и подготовке к урокам.
</p>