@{
    ViewData["Title"] = "Дошкольники";
}

<script src="~/js/fullscreen.js"></script>

<hr />
<h2 class="text-center">Дошкольное отделение (3 - 7 лет)</h2>
<hr />


<td>
    <p>
        <img id = "image" src="/img/preschool.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="10" vspace="10" align="right" onClick="makeFullScreen()">
        Дошкольное отделение представляет разновозрастную группу детей 3 – 7 лет. 
        <p class = "p-no-space"><b>Режим дня дошкольного отделения:</b></p>
        <ul class = "ul-no-space">
            <li><b>8.00 – 8.30</b> <i>Завтрак</i></li>
            <li><b>8.50 – 11.00</b> <i>Учебные занятия</i></li>
            <li><b>11.00 – 12.00</b> <i>Прогулка (игры)</i></li>
            <li><b>12.30 – 13.00</b> <i>Обед</i></li>
            <li><b>13.30 – 15.00</b> <i>Сон</i></li>
            <li><b>15.15 – 16.00</b> <i>Полдник</i></li>
            <li><b>16.00 – 17.30</b> <i>Занятия</i></li>
            <li><b>17.45 – 19.00</b> <i>Прогулка (игры)</i></li>
        </ul>
    </p>
    <p class = "p-no-space">
        Этот режим дня аналогичен режиму дня группы детского сада с той лишь разницей,
        что детям предоставляются занятия по общему развитию и подготовке к школе, а именно:

        <ul class = "ul-no-space">
            <li>
                <b>Блок математики</b>
                <ul>
                    <li><i>Математика</i></li>
                    <li><i>Логика</i></li>
                    <li><i>Конструирование</i></li>
                </ul>
            </li>
            <li>
                <b>Блок чтения</b>
                <ul>
                    <li><i>Чтение</i></li>
                    <li><i>Развитие речи</i></li>
                    <li><i>Письмо</i></li>
                </ul>
            </li>
            <li><b>Английский язык</b></li>
            <li><b>Татарский язык</b></li>
            <li><b>ИЗО</b></li>
            <li><b>Музыкально-ритмические занятия</b></li>
            <li><b>Психолог</b></li>
            <li><b>Логопед</b> (кому необходимо)</li>
            <li><b>Спортивные занятия</b></li>
        </ul>
    </p>
    <p>
        В течение всего дня дети делятся на подгруппы по <b>5 – 7 человек</b> в соответствии с
        их возрастом и развитием для более успешного усвоения учебного материала.
        Помимо учителей на протяжении всего дня с детьми работают 2 воспитателя и няня.
    </p>
</td>