@{
    ViewData["Title"] = "Подготовительные курсы и школы выходного дня";
}

<script src="~/js/fullscreen.js"></script>

<hr />
<h2 class="text-center">Подготовительные курсы и школа выходного дня</h2>
<hr />

<p>
    <img id = "image" src="/img/weekendschool.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="10" vspace="10" align="right" onClick="makeFullScreen()">
    Школа выходного дня для детей от 1 года до 3 лет работает по субботам и воскресеньям.
    Занятия проводятся в формате игры продолжительностью 45 – 60 минут.
    Цель таких игровых занятий – развитие координации движений, укрепление
    костно–мышечного аппарата, ознакомление с буквами, развитие речи и 
    укрепление мелкой моторики. Занятия проходят с участием родителей.
</p>
<p>
    Школа выходного дня для детей от 3 до 7 лет работает по субботам с 9.00 до 13.00 по 6 уроков.
    После 3-его урока предусмотрен завтрак.
    <p class = "p-no-space"><b>
        Цикл предметов, изучаемый в школе выходного дня:
    </b></p>
    <ul class = "ul-no-space">
        <li>
            <b>Дети 3-4 лет</b>
            <ul>
                <li><i>Математика</i></li>
                <li><i>Развитие речи</i></li>
                <li><i>Окружающий мир</i></li>
                <li><i>Музыкально – ритмическое занятие</i></li>
                <li><i>Английский язык</i></li>
                <li><i>ИЗО</i></li>
            </ul>
        </li>
        <li>
            <b>Дети 5-6 лет</b>
            <ul>
                <li><i>Математика</i></li>
                <li><i>Чтение</i></li>
                <li><i>Обучение грамоте</i></li>
                <li><i>Музыкально – ритмическое занятие</i></li>
                <li><i>Английский язык</i></li>
                <li><i>ИЗО</i></li>
            </ul>
        </li>
    </ul>
</p>