@page
@model RegisterModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Регистрация";
}

<style>
    .input-wrapper {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 0px;
        box-shadow: rgba(113,113,113,0.15) -5px -5px 11px, rgba(0,0,0,0.15) 5px 5px 11px;
        border-radius: 20px;
        height: 55px;
        display: flex;
        align-items: center;
    }

        .input-wrapper input {
            background: transparent;
            border: none;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            text-indent: 20px;
            color: #000000;
            font-size: 14px;
            outline: 0;
        }

    .input-icon {
        width: 40px;
        margin-right: 10px;
        border-radius: 50px;
        padding: 3px 6px;
        cursor: pointer;
        transition: all .4s ease;
    }

        .input-icon.selected {
            background-color: #2d2d2d;
        }

        .input-icon img {
            max-width: 100%;
        }

    ::-webkit-input-placeholder {
        color: #B2BECD;
    }
</style>

<script>
    function togglePassword()
    {
        var input = document.getElementById('password');
        var icon = document.getElementById('icon');

        if (input.type === 'password')
        {
            input.type = 'text';
            icon.src = '/img/closedEye.png';
        }
        else
        {
            input.type = 'password';
            icon.src = '/img/eye.png';
        }
    }

    function toggleConfirmPassword()
    {
        var input = document.getElementById('confirm_password');
        var icon = document.getElementById('confirm_icon');

        if (input.type === 'password')
        {
            input.type = 'text';
            icon.src = '/img/closedEye.png';
        }
        else
        {
            input.type = 'password';
            icon.src = '/img/eye.png';
        }
    }
</script>

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center">Добавление нового администратора</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-wrapper mt-3">
                <input asp-for="Input.Email" placeholder="Почта@mail.ru" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="input-wrapper">
                <input asp-for="Input.Password" id="password" placeholder="Введите пароль" aria-required="true" />
                <div class="input-icon" onclick="togglePassword()">
                    <img id="icon" src="/img/eye.png">
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="input-wrapper">
                <input asp-for="Input.ConfirmPassword" id="confirm_password" placeholder="Подтвердите пароль" aria-required="true" />
                <div class="input-icon" onclick="toggleConfirmPassword()">
                    <img id="confirm_icon" src="/img/eye.png">
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="input-wrapper">
                <input asp-for="Input.RegistrationCode" id="regCode" placeholder="Код" aria-required="true" />
                <span asp-validation-for="Input.RegistrationCode" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-dark">Зарегистрировать</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
