@using SchoolWeb.Models;
@model DocumentModel
@{
    ViewData["Title"] = "Редактирование названия документа";
}

<hr />
<h2 class="text-center">Редактирование названия и описания фото</h2>
<hr />

<form method = "post" enctype="multipart/form-data">
    <div class = "form-group">
        <label asp-for = "Title" class = "control-label"></label>
        <input asp-for = "Title" class = "form-control"/>
        <span asp-validation-for = "Title" class = "text-danger"></span>
    </div>
    <button type = "submit" class = "btn btn-outline-primary mt-2"><i class="bi bi-send-fill"></i> Применить</button>
</form>


@section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
    }