<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - "Елена-Сервис"</title>
    <link rel="stylesheet" href="~/css/BootwatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Elena-Service</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Образование</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Education" asp-action="WeekendSchool">Школа выходного дня</a>
                                <a class="dropdown-item" asp-controller="Education" asp-action="PreSchool">Дошкольники (3-7 лет)</a>
                                <a class="dropdown-item" asp-controller="Education" asp-action="JuniorSchool">Начальная школа (1-4 класс)</a>
                                <a class="dropdown-item" asp-controller="Education" asp-action="MiddleSchool">Средняя школа (5-9 класс)</a>
                                <a class="dropdown-item" asp-controller="Education" asp-action="HighSchool">Старшая школа (10-11 класс)</a>
                                <a class="dropdown-item" asp-controller="Exam" asp-action="Index">Выпускники</a>
                                <a class="dropdown-item" asp-controller="Education" asp-action="Additional">Доп. образование</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">График</a>
                            <div class="dropdown-menu navbar-dark">
                                <a class="dropdown-item" asp-controller="Home" asp-action="Schedule">Годовой календарный график</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Regime">Режим дня</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="HealthAndFood">Здоровье и питание</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Staff" asp-action="Index">Педагогический состав</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Conditions">Условия приёма</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Document" asp-action="Index">Документы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Gallery" asp-action="Index">Галерея</a>
                        </li>
                    </ul>
                    <partial name = "_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <style>
            main {
                animation: fadeInAnimation ease 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            @@keyframes fadeInAnimation {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        </style>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now.Year - Elena-Service - <a asp-controller="Home" asp-action="Requisites">Реквизиты</a> | <a asp-controller="Home" asp-action="Info">О сайте</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
