@{
    ViewData["Title"] = "Условия приёма";
}

<hr />
<h2 class="text-center">Условия приёма</h2>
<hr />

<p class="p-no-space">
    <b>Этапы приёма детей в 1 класс:</b>
    <ol class="ul-no-space">
        <li>Ребенок, поступающий в 1-й класс, проходит тестирование на предмет подготовленности к школе</li>
        <li>Родителями ребенка предоставляется медицинская карта (школьной формы, утвержденной Министерством здравоохранения РФ)</li>
        <li>Оплачивается вступительный взнос</li>
        <li>Заключается <a asp-controller = "Document" asp-action = "Document" asp-route-name = "Договор между школой и родителем" target="new">договор</a> между школой «Елена-Сервис» и родителем</li>
        <li>С момента заключения <a asp-controller = "Document" asp-action = "Document" asp-route-name = "Договор между школой и родителем" target="new">договора</a> за ребенком резервируется место в классе</li>
    </ol>
    <br>
    <b>Прием детей в 2-11 классы</b> школы «Елена-Сервис» происходит в течение всего
    календарного года при наличии свободных мест и состоит из тех же этапов, что и прием
    в 1 класс, за исключением того, что ребенок должен успешно пройти собеседование и
    продемонстрировать знания, соответствующие уровню класса, в который он намерен
    поступить.
</p>

<p class="p-no-space">
    <b>Зачисление детей на дошкольное отделение (группа детского сада) происходит при следующих условиях:</b>
    <ol class="ul-no-space">
        <li>Наличие свободных мест в группе</li>
        <li>Наличие соответствующей медицинской карты у ребенка.</li>
    </ol>
    Если эти два условия выполнены, то между школой и родителем заключается <a asp-controller = "Document" asp-action = "Document" asp-route-name = "Договор между школой и родителем" target="new">договор</a>.
</p>
