@{
    ViewData["Title"] = "Здоровье и питание";
}

<hr />
<h2 class="text-center">Здоровье и питание</h2>
<hr />

<p>
    Медицинский блок представлен кабинетом врача, процедурным кабинетом, изолятором,
    физ. кабинетом, в котором работает врач и медицинская сестра. В течение всего учебного
    периода детям оказывается медицинская помощь, проводятся по плану вакцинация и
    осмотры врачами-специалистами.
</p>
<p>
    Медицинским персоналом отслеживается качество меню на предмет сбалансированности
    по белкам, жирам и углеводам.
</p>
<p>
    <img src="/img/health.jpg" hspace="5" vspace="5" align="right">
    Ежедневно в питании детей присутствует молоко, сливочное масло, мясо, рыба, овощи,
    фрукты. Приготовление блюд осуществляют 4 высококвалифицированных повара. В зимний
    и весенний период проводится витаминизация третьих блюд. Во время эпидемии гриппа
    активно идет профилактическая работа, благодаря чему показатели заболеваемости детей по
    школе «Елена-Сервис» ежегодно ниже среднестатистических.
</p>