@{
    ViewData["Title"] = "Здоровье и питание";
}

<hr />
<h2 class="text-center">Здоровье и питание</h2>
<hr />

<p>
    Медицинский блок представлен кабинетом врача, процедурным кабинетом, изолятором,
    физ. кабинетом, в которых работает врач и медицинская сестра. В течение всего учебного
    периода детям оказывается медицинская помощь, проводятся плановая вакцинация и
    осмотры врачами-специалистами.
</p>
<p>
    Медицинским персоналом отслеживается качество меню на предмет сбалансированности
    по белкам, жирам и углеводам (БЖУ).
</p>
<p>
    <img src="/img/health.jpg" class="img-fluid rounded" style="max-width:50%;" hspace="5" vspace="5" align="right">
    Ежедневно в питании детей присутствует молоко, сливочное масло, мясо, рыба, овощи и 
    фрукты. Приготовление блюд осуществляют 4 высококвалифицированных повара. В зимний
    и весенний периоды проводится витаминизация третьих блюд. Во время эпидемии гриппа
    активно идет профилактическая работа, благодаря чему показатели заболеваемости детей по
    школе «Елена-Сервис» ежегодно ниже среднего.
</p>