@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-5">Добро пожаловать на сайт Школы "Елена-Сервис"!</h1>
</div>
<hr>
<div class="mrq-container" style="height:28px;">
    <div class="mrq-scrolling"><h5><b><i>Non scholae, sed vitae discimus (Мы учимся не для школы, а для жизни)</i></b></h5></div>
</div>
<hr>
<h5 class="text-left">
    <p>
        Школа «Елена–Сервис» была образована 27 декабря 1992 года в городе Казании и является
        <b>
            одной из первых негосударственных школ в постсоветской России.
        </b>
    </p>
    <p>
        В школе предоставляется возможность освоения курса среднего
        общего (полного) образования, а также подготовки к поступлению в высшие учебные
        заведения.
    </p>
    <p>
        Казанская школа «Елена – Сервис» является независимой школой совместного
        обучения, в которой учится около <b>400 школьников</b> из Казани, иных городов
        России и других стран.
    </p>
    <p>
        <a asp-controller="Home" asp-action="Location">Расположена школа</a> в тихой зеленой зоне в центре Московского района
        города Казани, недалеко от пересечений таких крупных улиц, как <b>Декабристов</b> и <b>Гагарина</b>.
    </p>
    <p>
        Школа состоит из 2-х структурных подразделений: <b>
            самой школы с 1 по 11 класс и дошкольного
            отделения – группы детского сада
        </b>.
    </p>
    <p>
        Большинство учеников обучается на дневном отделении, но для желающих предусмотрено
        заочное отделение и экстернат.
    </p>
    <p>
        Школа «Елена – Сервис» имеет <b>государственную аккредитацию</b> и <b>лицензию</b>.
        <br> Выпускники школы «Елена – Сервис» получают аттестаты государственного
        образца Министерства образования и науки Российской Федерации.
    </p>
    <p>
        Учебная программа, включающая преподавание всех обязательных
        предметов, утверждена Министерством образования и науки РФ и РТ.
        <b>Продолжительность уроков 45 минут</b>. Учебные и каникулярные периоды те же, что
        и для всех школ России.
    </p>
    <p class="p-no-space">
        В школьные помещения входят <b>18 учебных кабинетов</b>, а также:
        <ul class="ul-no-space">
            <li><i>Компьютерный класс</i></li>
            <li><i>WIFI зона</i></li>
            <li><i>Спортивный зал</i></li>
            <li><i>Актовый зал</i></li>
            <li><i>Изостудия</i></li>
            <li><i>Хореографический зал</i></li>
            <li><i>Библиотека</i></li>
            <li><i>Медицинский кабинет</i></li>
            <li><i>Процедурный кабинет</i></li>
            <li><i>Изолятор</i></li>
            <li><i>Кабинет психолога</i></li>
            <li><i>Индивидуальные кабинеты (в том числе и для индивидуальных занятий музыкой)</i></li>
            <li><i>Кабинет логопеда</i></li>
            <li><i>Школьное кафе (160 посадочных мест)</i></li>
        </ul>
    </p>
    <p>
        Площадь пришкольного участка 9204,3 кв. м. На его территории располагается
        физкультурно-спортивная зона, включающая в себя площадку
        для баскетбола, волейбола, мини футбола и тенниса. Предусмотрено использование стадиона и
        плавательного бассейна, расположенных неподалеку от школы. Зоны отдыха включают
        в себя скамейки, качели, игровые комплексы. Вся территория условно поделена
        на групповые площадки для детей дошкольного, младшего школьного и старшего
        школьного возрастов.
        Учебная программа и активный отдых в школе построены таким образом,
        чтобы обеспечить умственное и физическое развитие, эстетическое,
        моральное и общественное воспитание каждого учащегося из каждой
        возрастной группы.
    </p>
    <p>
        <b>Небольшие классы (до 15 человек)</b>, консультации учебного и личного характера,
        гармоничное сочетание обучения и свободного времени способствуют
        выработке у учащихся чувства ответственности за свое развитие в
        соответствии с такими понятиями, как честность, справедливость и взаимное уважение.
    </p>
</h5>
