@{
    ViewData["Title"] = "О сайте";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт был разработан выпускниками школы "Елена-Сервис" с MidLiz и Fridzy на добровольной основе.</p>
<p><b>Платформа разработки</b>: ASP.NET MVC</p>
<p>MidLiz:<a class="link"> https://vk.com/sun_lizard</a></p>
<p>Fridzy:<a class="link"> https://vk.com/e.maxudov</a></p>
<p hidden = "hidden">Юрий Раульевич one love)</p>