@{
    ViewData["Title"] = "О сайте";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт был разработан выпускниками школы "Елена-Сервис" Визелем Леонидом и Максудовым Эмилем на добровольной основе.</p>
<p><b>Платформа разработки</b>: ASP.NET MVC (.NET 6.0)</p>
<p>Визель Леонид: <a href = "https://vk.com/sun_lizard" target="_blank">https://vk.com/sun_lizard</a></p>
<p>Максудов Эмиль: <a href = "https://vk.com/e.maxudov" target="_blank">https://vk.com/e.maxudov</a></p>
<p hidden = "hidden">Юрий Раульевич топ!</p>