@{
    ViewData["Title"] = "О сайте";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт был разработан выпускником школы "<i>Елена-Сервис</i>" под никнеймом <i>MidLiz</i> на добровольной основе.</p>
<p><b>Платформа разработки</b>: ASP.NET MVC</p>
<p><b>C# Forward!</b></p>
<p>Связь:<a class="link"> https://vk.com/sun_lizard</a></p>
<p hidden = "hidden">Юрий Раульевич one love)</p hidden>