@{
    ViewData["Title"] = "Режим дня";
}

<hr />
<h2 class="text-center">Режим дня</h2>
<hr />

<p>
    Школа "Елена-Сервис" работает <b>с 7:00 до 19:00</b> (включая дошкольное отделение).
</p>
<p>
    Первый урок начинается <b>в 8:00</b>. Уроки длятся <b>по 45 минут</b>. После первого урока
    завтракает начальная школа, после второго урока - средние и старшие классы. После пятого
    и шестого урока - обед. Между уроками перемены <b>по 10 – 15 минут</b>. Далее отдых, прогулка
    на свежем воздухе, подвижные игры и т.д. <b>В 14:45</b> начинаются выполнение домашнего задания,
    часы самоподготовки, консультации и индивидуальные занятия. <b>В 15:30</b> - полдник.
</p>
<p>
    Во второй половине дня проводятся занятия в студиях и секциях по каратэ, музыке,
    танцам, ИЗО, шахматам, компьютерным технологиям, а также посещаются плавательный бассейн, театр, кино и т.д.
</p>

<div class="text-center">
    <h3>Расписание звонков</h3>
    <table cellpadding="5" class="table-bordered" align = "center" style = "width: 40%">
        <tr>
            <td bgcolor="#FFFACD"><b>Урок</b></td>
            <td bgcolor="#FFFACD"><b>Время (ПН-ПТ)</b></td>
            <td bgcolor="#FFFACD"><b>Время (СБ)</b></td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>1 урок</b></td>
            <td>8:00-8:45</td>
            <td>8:00-8:45</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>2 урок</b></td>
            <td>9:00-9:45</td>
            <td>8:55-9:40</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>3 урок</b></td>
            <td>10:00-10:45</td>
            <td>9:55-10:40</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>4 урок</b></td>
            <td>10:55-11:40</td>
            <td>10:50-11:35</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>5 урок</b></td>
            <td>11:55-12:40</td>
            <td>11:45-12:30</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>6 урок</b></td>
            <td>12:55-13:40</td>
            <td>12:35-13:20</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>7 урок</b></td>
            <td>13:55-14:40</td>
            <td></td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD"><b>8 урок</b></td>
            <td>14:45-15:30</td>
            <td></td>
        </tr>
    </table>
</div>