@{
    ViewData["Title"] = "Режим дня";
}

<hr />
<h2 class="text-center">Режим дня</h2>
<hr />

<p>
    Рабочий день всей школы «Елена – Сервис» <b>с 7.00 до 19.00</b> (включая дошкольное отделение).
</p>
<p>
    Первый урок начинается в 8.00. Уроки длятся по 45 минут. После первого урока
    завтракает начальная школа, после второго урока - средние и старшие классы. После пятого
    и шестого урока - обед. Между уроками перемены по 10 – 15 минут. Далее отдых, прогулка
    на свежем воздухе, подвижные игры. В 14.45 начинаются выполнение домашнего задания,
    часы самоподготовки, консультации и индивидуальные занятия. В 15.30 полдник.
</p>
<p>
    Кроме того, учащиеся могут посетить школьный буфет, чтобы между уроков перекусить школьной выпечкой.
</p>
<p>
    Во второй половине дня проводятся занятия в студиях и в секциях по каратэ, музыке,
    танцам, ИЗО, шахматам, компьютерным технологиям, посещение плавательного бассейна, театр, кино и т.д.
</p>
<p><b>До 19.00 ребенок имеет возможность, находясь в школе, активно учиться и отдыхать.</b></p>