@{
    ViewData["Title"] = "Режим дня";
}

<hr />
<h2 class="text-center">Режим дня</h2>
<hr />

<p>
    Школа "Елена-Сервис" работает <b>с 7:00 до 19:00</b> (включая дошкольное отделение).
</p>
<p>
    Первый урок начинается <b>в 8:00</b>. Уроки длятся <b>по 45 минут</b>. После первого урока
    завтракает начальная школа, после второго урока - средние и старшие классы. После пятого
    и шестого урока - обед. Между уроками перемены <b>по 10 – 15 минут</b>. Далее отдых, прогулка
    на свежем воздухе, подвижные игры и т.д. <b>В 14:45</b> начинаются выполнение домашнего задания,
    часы самоподготовки, консультации и индивидуальные занятия. <b>В 15:30</b> - полдник.
</p>
<p>
    Во второй половине дня проводятся занятия в студиях и секциях по каратэ, музыке,
    танцам, ИЗО, шахматам, компьютерным технологиям, а также посещаются плавательный бассейн, театр, кино и т.д.
</p>