@{
    ViewData["Title"] = "Реквизиты";
}

<hr />
<h2 class="text-center">Реквизиты</h2>
<hr />

<p>
    ЧАСТНОЕ  ОБРАЗОВАТЕЛЬНОЕ  УЧРЕЖДЕНИЕ
    <br>СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ
    <br>ШКОЛА  «ЕЛЕНА – СЕРВИС»
    <br><a asp-controller = "Home" asp-action="Location">Россия 420039, город Казань, ул. Ак. Королева, д.3</a>
</p>
<hr>
<p class="p-no-space">
    <b>Факс:</b> (+7 843) 590–87-67<br>
    <b>Телефоны:</b>
    <ul class="ul-no-space">
        <li>249-51-93</li>
        <li>249-41-92</li>
    </ul>
    <b>E-Mail:</b> elena_servis@mail.ru<br>
    <b>Сайт:</b> www.elenaservis.ru
</p>