@{
    ViewData["Title"] = "Реквизиты";
}

<hr />
<h2 class="text-center">Реквизиты</h2>
<hr />

<p>
    ЧАСТНОЕ  ОБРАЗОВАТЕЛЬНОЕ  УЧРЕЖДЕНИЕ
    <br>СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ
    <br>ШКОЛА  «ЕЛЕНА – СЕРВИС»
    <br><a asp-controller = "Home" asp-action="Location">Россия 420039, город Казань, ул. Ак. Королева, д.3</a>
</p>
<hr>
<p class="p-no-space">
    <b>Факс:</b> <a href="tel:+78435908767">(+7 843) 590–87-67</a><br>
    <b>Телефоны:</b>
    <ul class="ul-no-space">
        <li><a href="tel:2494192">249-51-93</a></li>
        <li><a href="tel:2494192">249-41-92</a></li>
    </ul>
    <b>E-Mail:</b> elena_servis@mail.ru<br>
    <b>Сайт:</b> www.elenaservis.ru<br>
    <b>Telegram:</b> <a href = "https://t.me/elena_servis_kzn">https://t.me/elena_servis_kzn</a><br>
</p>