html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

hr {
    margin: 3px;
}

h2 {
    background: rgb(255, 237, 131);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.p-no-space {
    margin-bottom: 0;
}

.ul-no-space {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1em;
}

.table-inside-border {
    border: 2px solid white;
    border-collapse: collapse;
}

.td-inside-border {
    border: 1px solid #808080;
    padding: 3px;
}

.mrq-container {
    overflow: hidden;
    position: relative;
    background: rgb(255, 237, 131);
}

    .mrq-container::before {
        content: '\00a0';
    }

.mrq-scrolling {
    animation: mrq 20s linear infinite;
    display: block;
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

@keyframes mrq {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}